body{background-color:white;background-image:url("test_thumbnail.jpg")}
img{border:5px solid white;margin-left:600px; margin-right:600px}
h1{color:#DE2EBF;font-family:bodoni; background-color: white; border:5px solid white;margin-left:650px; margin-right:600px;}
h2{color:black;font-family:gill sans;background-color: white; border:5px solid white;margin-left:600px; margin-right:600px}
h3{color:black;font-family:gill sans; background-color: white; border:5px solid white;margin-left:600px; margin-right:600px}
p{color:black;font-family:gill sans;background-color: white; border:5px solid white;margin-left:600px; margin-right:600px}
/* Three columns side by side */
.column {float:left;width:25%;padding:15px;}
  .column {width:100%;}
